/*.one-input{
    border: thin;
    margin-bottom: 20px;
}

.one-space{
    background-color: lightgrey;
    margin-top: 20px;

}*/

.content {
    background-color: #ededed;
    font-family: "Segoe UI",WeblySleek UILight,Helvetica,Arial,sans-serif;
}

#title {
    color: #2c3e50;
    font-weight: lighter;
    font-size: 50px;
    margin: 0 auto 30px;
    padding-top: 30px;
}
.center {
    text-align: center;
    align-content: center;
}

#welcome-message {
    font-size: 13px;
    display: block;
    width: 450px;
    margin: 0 auto 40px;
    color: #424242;
}

/* header gradient */
.wc-header {
    background: #FF5800; /* not supported browsers */
    background: -webkit-linear-gradient(left top, rgba(255,180,20,1), rgba(255,88,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,rgba(255,180,20,1), rgba(255,88,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(255,180,20,1), rgba(255,88,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(255,180,20,1), rgba(255,88,0,1)); /* standard (Chrome) */
}

.wc-message-from-me .wc-message-content{
    background-color: #FF5800;
}
.wc-message-from-me svg.wc-message-callout path {
    fill: #FF5800;
}

#bot {
    width: 300px;
    height: 400px;
    position: relative;

    display: block;
    margin: 0 auto 60px;
    background-color: white;
    border-style: solid;
    border-width: .5px;
    border-color: grey;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);

}

#footer {
    background-color: #333333;
    height: 40px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
}

.footer-text {
    font-size: 13px;
    margin: 10px;
}

#links {
    color: #FF5800;
    float: left;
    text-decoration: none;
}

#copyright {
    float: right;
    color: #ffffff;
}
